%p
  = f.label :title, t('.title')
  = f.text_field :title, size: 30

%p
  = f.label :position, t('.position')
  = f.number_field :position

= f.fields_for :choices do |choice|
  = choice.label :content, t('.content')
  = choice.text_field :content, size: 30
  = choice.check_box :valid_answer
  = choice.label :valid_answer, t('.valid_answer')
  = choice.link_to_remove t('.delete_choice')

= f.link_to_add t('.add_choice'), :choices

%p
  = f.label :tips, t('.tips')
  %br
  = f.text_area :tips, rows: 8, cols: 80
