%h2= t('.title')

= nested_form_for @question, url: lesson_qcm_question_path(@lesson, @qcm, @question) do |f|

  = render partial: 'form', locals: {f: f}

  %p
    = f.submit t('.create')
    = link_to t('.cancel'), lesson_qcm_path(@lesson, @qcm)

