%h2= t('.title')

= nested_form_for Question.new, url: lesson_qcm_questions_path(@lesson, @qcm) do |f|

  = render partial: "form", locals: {f: f}

  = f.submit t('.submit')
  = link_to t('.cancel'), lesson_qcm_path(@lesson, @qcm)
