%h3= t('.topics')

= form_tag messages_path, :method => 'get' do
  %p
    = text_field_tag :query, params[:query]
    = submit_tag t('.search')

%ul
  - if @result_messages != nil
    %h3= t('.results_title')
    - @result_messages.each do |message|
      %li
        = link_to message.title, message_path(message)
        = t('.initial_subject')
        = l(message.updated_at)
        = t('.by')
        = message.user_name

%ul
  - @messages.each do |message|
    - if message.parent.present?
      %li
        = link_to message.parent.title, message_path(message.parent_id)
        = t('.last_answer')
        = l(message.updated_at)
        = t('.by')
        = message.user_name
    - else
      %li
        = link_to message.title, message_path(message)
        = t('.initial_subject')
        = l(message.updated_at)
        = t('.by')
        = message.user_name

= paginate @messages

= link_to t('.post_new_message'), new_message_path
