%h2= t('.title')

%section
  %h1= @message.title

  .content
    %p.author
      = link_to @message.user_name, user_path(@message.user)
    :markdown
      #{@message.content}
    - if change_allowed?(@message, current_user)
      %p
        = link_to t('.edit'), edit_message_path(@message)
        = form_for @message, method: :delete do |m|
          = m.submit t('.delete')

  %ul
    - @message.responses.each do |response|
      %li.content{id: response.id}
        = response.user_name
        = response.updated_at
        :markdown
          #{response.content}
        - if change_allowed?(response, current_user)
          = link_to t('.edit'), edit_message_path(response)
          = form_for response, url: message_path(response), method: :delete do |m|
            = m.submit t('.delete')

  = form_for @message.responses.new, url: message_comments_path(@message) do |c|
    %p
      = c.label :content, t('.reply')
      %br
      = c.text_area :content, rows: 21, cols: 82, placeholder: t('placeholder.content'), required: true

    %p
      = c.submit t('.post_comment'), class: 'button'
      = link_to t('.cancel'), messages_path

