%h1=t('.title')

= form_for @utilisateur do |f|
  %p= f.label :nom, t('.user_name')
  %p= f.text_field :nom

  %p
    = f.submit t('.submit'), class: 'button small success radius'
    = link_to t('.cancel'), root_url

