%h1=t('.title')

= form_for current_user do |f|
  %p
    = f.label :name, t('.user_name')
    %br
    = f.text_field :name, class: 'field'

  %p
    = f.label :email, t('.user_email')
    %br
    = f.email_field :email, class: 'field'

  %p
    = f.submit t('.submit'), class: 'button small success radius'
    = link_to t('.cancel'), root_url


= form_tag reset_password_path do
  = hidden_field_tag :email, current_user.email, class: 'field'
  = submit_tag t('.ask_for_reset_password'), class: 'button small success radius'

