= link_to "Nouvel exercice ?", new_exercice_path, class: "button radius small"

.row 
  .columns
    - @exercices.each do |exo|
      %h4
        = link_to "Exercice : #{exo.id} | #{exo.titre}", exercice_path(exo)
      - exo.essais.last(5).each do |essai|
        .columns.small-6
          = "Essai : #{essai.id}"
        .columns.small-6
          = essai.status ? "WIN" : "LOOSE"
      = link_to "Nouvel essai ?", new_exercice_essai_path(exo.id), class: "tiny button radius"
      
