%h2= @answer.is_valid? ? "GOOD" : "BHOOO"
%h3 Explications
- @question.choices.each do |choice|
  %p{class: "#{class_chosen(@answer, choice)} #{class_valid(choice)}"}
    = choice.content
= link_to_next(@question.qcm.lesson.id, @question.qcm.id, @question.id, @question.qcm.question_ids)
