%p
  = f.label :title, t(".title")
%p
  = f.text_field :title

%p
  = f.label :desc, t(".description")
%p
  = f.text_area :desc

%p
  = f.label :authors
  %br
  = f.select :authors, @available_authors.map(&:name), {}, multiple: true


