
%p
  = l.label :keyword
  %br
  = l.text_field :keyword, placeholder: t('placeholder.definition_keyword')

%p
  = l.label :description
  %br
  = l.text_area :description, rows: 21, cols: 82, placeholder: t('placeholder.definition_description')

%p
  = l.label :url
  %br
  = l.url_field :url, placeholder: t('placeholder.definition_url')

