
%h3= t('.title')

= form_for Definition.new do |l|

  = render partial: 'form', locals: {l: l}

  %p
    = l.submit t('.create'), class: 'button'
    = link_to t('.cancel'), definitions_path, class: 'button'
