%h2
  = t('.title', name: @user.name)

%section.last-messages
  %h1= t('.last-message-title')
  %ul
    %li
      message de Raymond, le 22/9/2014 à 22h34
      %em
        non mais c'est quoi ce binzzz

%section.last-lessons
  %h1= t('.last-lessons-title')
  %ul
    - @last_lessons.each do |lesson|
      %li
        = link_to lesson.title, lesson_path(lesson)

  - if current_user.local?
    %p
      = link_to t('.create_lesson'), new_lesson_path

%section.last-definitions
  %h1= t('.last-definitions-title')
  %ul
    - @last_definitions.each do |definition|
      %li
        = link_to definition.keyword, definitions_path(anchor: definition.keyword)

  - if current_user.local?
    %p
      = link_to t('.create_definition'), new_definition_path


