%p
  = l.label :title, t('.title_field')
  %br
  = l.text_field :title, placeholder: t('placeholder.title'), required: true

%p
  = l.label :online, t('.online_field')
  %br
  = l.check_box :online

%p
  = l.label :description, t('.description')
  %br
  = l.text_area :description, rows: 21, cols: 82, placeholder: t('placeholder.description')

%p
  = l.label :author_ids
  %br
  = l.select :author_ids, @available_authors.map{|a| [a.name, a.id]}, {}, multiple: true, include_blank: false

