
%h3
  = t('.title')

%ul
  - @lessons.each do |lesson|
    %li
      = lesson.offline? ? t('.offline') : t('.online')
      = link_to lesson.title, lesson_path(lesson)

- unless current_user.remote?
  = link_to t('.create_lesson'), new_lesson_path

%p= link_to t('.definitions'), definitions_path
