%h2= @lesson.title

%p= @lesson.online? ? t('.online') : t('.offline')

- unless current_user.remote?
  %p= link_to t('.edit'), edit_lesson_path(@lesson)

%ol
  - @lesson.chapters.each do |chapter|

%ol
  - @lesson.qcms.each do |qcm|
    %li= link_to qcm.title, lesson_qcm_path(@lesson, qcm)
  - @lesson.exercices.each do |exercice|
    %li= link_to exercice.title, lesson_exercice_path(@lesson, exercice)

- unless current_user.remote?
  %p
    = link_to t('.add_exercice'), new_lesson_exercice_path(@lesson)

%p= link_to t('.lessons'), lessons_path

