%h2= @lesson.title

%p= @lesson.online? ? t('.online') : t('.offline')

%section
  :markdown
    #{@lesson.description}

- unless current_user.remote?
  %p= link_to t('.edit'), edit_lesson_path(@lesson)

%ol
  - @lesson.chapters.each do |chapter|
    %li= link_to chapter.title, lesson_chapter_path(@lesson, chapter)

- unless current_user.remote?
  %p= link_to t('.add_chapter'), new_lesson_chapter_path(@lesson)


%ol
  - @lesson.qcms.each do |qcm|
    %li= link_to qcm.title, lesson_qcm_path(@lesson, qcm)

- unless current_user.remote?
  %p
    = link_to t('.add_qcm'), new_lesson_qcm_path(@lesson)

%ol
  - @lesson.exercices.each do |exercice|
    %li= link_to exercice.title, lesson_exercice_path(@lesson, exercice)

- unless current_user.remote?
  %p
    = link_to t('.add_exercice'), new_lesson_exercice_path(@lesson)

%p= link_to t('.lessons'), lessons_path
