%p
  = c.label :title
  %br
  = c.text_field :title, placeholder: t('placeholder.chapter_title'), required: true

%p
  = c.label :number
  %br
  = c.number_field :number, placeholder: t('placeholder.number'), required: true

%p
  = c.label :content
  %br
  = c.text_area :content, rows: 21, cols: 82, placeholder: t('placeholder.chapter_content')

%p
  = c.label :tags
  %br
  = c.select :tags, @available_tags.map{|t| [t("tags.#{t}"), t]}, {}, multiple: true, include_blank: false

%p
  = c.label :author_ids
  %br
  = c.select :author_ids, @available_authors.map{|a| [a.name, a.id]}, {}, multiple: true, include_blank: false

