%h3= t('.title')

= form_for @chapter, url: lesson_chapter_path(@chapter, @chapter.lesson) do |c|

  = render partial: 'form', locals: {c: c}

  %p
    = c.submit t('.update')
    = link_to t('.cancel'), edit_lesson_path(@chapter.lesson)
