%section
  %h1= @chapter.title

  %article.content
    = markdown(@chapter.content)

  %p.tags
    - @chapter.tags.each do |tag|
      = link_to(t("tags.#{tag}"), tag_path(id: tag))

  %p.authors
    - @chapter.authors.each do |author|
      = link_to(author.name, user_path(author))

  - unless current_user.local?
    - if user_submission_allowed?(current_user, @chapter)
      = t('.ask_pair_validation_on_submission')
      = form_for Submission.new, url: lesson_chapter_submissions_path(@chapter.lesson, @chapter) do |sub|
        %p
          = sub.label :content, t('.content')
          %br
          = sub.text_area :content, rows: 10, cols: 82
        %p
          = sub.submit t('.submit'), class: 'button'
    - elsif @chapter.ask_pair_validation
      = markdown(t('.submission_already_sent', edit_link: edit_lesson_chapter_submission_path(@lesson, @chapter, @chapter.user_submission(current_user))))
      .submission
        = markdown(@chapter.user_submission(current_user).content)
  - else
    %p
      = t('.submissions_sent', count: @chapter.submissions_to_validate.count)
    %p
      = t('.submissions_to_validate', count: @chapter.submissions_to_validate)
    %ul
      - @chapter.submissions_to_validate.each do |submission|
        %li
          = link_to t('.submission_of', name: submission.user_name), lesson_chapter_submission_path(@lesson, @chapter, submission)

%nav
  = link_to t('.back_to_lesson'), lesson_path(@lesson)
  - if @chapter.next
    = link_to t('.next_chapter'), lesson_chapter_path(@lesson, @chapter.next)
  - unless current_user.remote?
    = link_to t('.edit'), edit_lesson_chapter_path(@lesson, @chapter)
