%p
  = exo.label :titre, t('.title_field')
  %br
  = exo.text_field :titre

%p
  = exo.label :consigne, t('.consigne')
  %br
  = exo.text_area :consigne, rows: 21, cols: 82

%p
  = exo.label :format_echantillon, t('.format_echantillon')
  %br
  = exo.select :format_echantillon, [['String', 1], ['JSON', 2]]

%p
  = exo.label :echantillon, t('.echantillon')
  %br
  = exo.text_area :echantillon, rows: 21, cols: 82

%p
  = exo.label :format_reponse, t('.format_response')
  %br
  = exo.select :format_reponse, [['Texte/chiffre', 1], ['JSON', 2], ['Programme', 3], ['Programme + tests', 4], ['Tests', 5]]

%p
  = exo.label :reponse, t('.response')
  %br
  = exo.text_area :reponse
