= form_for(@exercice) do |exo|
  %p
    = exo.label :titre, class: "label"
    = exo.text_field :titre
  %p
    = exo.label :consigne, class: "label"
    = exo.text_area :consigne
  %p
    = exo.label :format_echantillon, class: "label"
    = exo.select :format_echantillon, [['String', 1], ['JSON', 2]]
  %p
    = exo.label :echantillon, class: "label"
    = exo.text_area :echantillon
  %p
    = exo.label :format_reponse, "Format de réponse", class: "label"
    = exo.select :format_reponse, [['Texte/chiffre', 1], ['JSON', 2], ['Programme', 3], ['Programme + tests', 4], ['Tests', 5]]
  %p
    = exo.label :reponse, "Réponse attendue", class: "label"
    = exo.text_area :reponse
  %p= exo.submit "Créer l'exercice", class: "button small radius"