%h2= "Exercice #{@exercice.id} | #{@exercice.titre}"
%h4= t('.consigne')
%p= @exercice.consigne
%h4= t('.echantillon')
%p= @exercice.echantillon
%h4= t('.format_reponse')
- case @exercice.format_reponse
  - when 1
    %p Un champs texte OU un nombre
  - when 2
    %p Un JSON
  - when 3
    %p Un fichier programme à uploader
  - when 4
    %p Un fichier programme ET un fichier test
  - when 5
    %p Un fichier test à uploader
%h4= t('.reponse')
%p= @exercice.reponse
%h4= t('.essais')
%ul
- @essais.each do |essai|
  %li
    = "Essai #{essai.id}"
    |
    = essai.status ? "WIN" : "LOOSE"
%br
= link_to "Nouvel essai ?", new_exercice_essai_path(@exercice.id), class: 'button'
