%h1= "Exercice #{@exercice.id}"
%p= @exercice.consigne
%p= @exercice.echantillon
%small
  Format de réponse attendu : 
  = @exercice.format_reponse
%h3
  Vous devez obtenir la réponse suivante ! 
  = @exercice.reponse
- if @essais
  %h3 Essais soumis
  - @essais.each do |essai|
    .columns.small-6
      = "Essai : #{essai.id}"
    .columns.small-6
      = essai.status ? "WIN" : "LOOSE"

= link_to "Soumettre un essai", new_exercice_essai_path(@exercice.id), class: "small button radius"  

