%h1= t('.title')

= form_tag(reset_password_path(), method: 'put') do
  = hidden_field_tag :key, @key
  %p
    = label_tag :password
    %br
    = password_field_tag :password, class: 'field'

  %p
    = label_tag :password_confirmation
    %br
    = password_field_tag :password_confirmation, class: 'field'

  %p
    = submit_tag t('.submit')
