%h1= t('.title')

= form_tag(reset_password_path(user_id: @user.id), method: 'put') do
  %p
    = label_tag :password
    %br
    = password_field_tag :password, class: 'field'

  %p
    = label_tag :password_confirmation
    %br
    = password_field_tag :password_confirmation, class: 'field'

  %p
    = submit_tag t('.submit')
