!!!
%html{:lang => 'fr'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width', 'initial-scale' => '1.0'}
    %link{:href => "/apple-touch-icon-152x152.jpg", :rel => "apple-touch-icon", :sizes => "152x152"}
    %title= content_for?(:title) ? yield(:title) : t('.title_window')
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', media: 'print'
    = csrf_meta_tags
  %body
    .connexion
      - if current_user
        = link_to t('.home'), root_path
        |
        = link_to t('.session'), lessons_path
        |
        = link_to t('.chapters'), chapters_path
        |
        = link_to t('.messages'), messages_path
        |
        = link_to t('.irc'), "https://kiwiirc.com/client?settings=262f833caeb57ea98d9845b68dec48fe", target: "_blank"
        |
        = link_to t('.definition'), definitions_path
        |
        = link_to t('.about'), about_path
        |
        = link_to "#{current_user.name.capitalize}", user_path(current_user), title: t('.update_login')
        |
        = form_tag sessions_path, method: 'delete', class: 'little-form' do
          = submit_tag t('.logout'), class: 'link'
      - else
        = form_tag sessions_path do
          = label_tag :email, t('.email')
          = email_field_tag :email, nil, placeholder: t('placeholder.email'), class: 'field'
          = label_tag :password, t('.password')
          = password_field_tag :password, nil, placeholder: t('placeholder.password'), class: 'field'
          = submit_tag t('.login'), class: 'link'
        = link_to t('.reset_password'), new_reset_password_path

    %header.header
      %h1= link_to t('.title'), root_path, class: 'header-title'

      .notification
        - if flash[:error].present?
          %p.label.flash-error= "» #{flash[:error]}"
        - if flash[:alert]
          %p.label.flash-error= "» #{flash[:alert]}"
        - if flash[:notice]
          %p.label.flash-notice= "» #{flash[:notice]}"

    %main.content
      = yield

    %footer.footer
      %p
        = link_to t('.contact'), contact_path, class: 'footer-menu-item'

      :markdown
        #{t('.footer-text')}

    = javascript_include_tag 'application'

    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })
        (window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-39912989-4', 'auto');
        ga('send', 'pageview');
