!!!
%html{:lang => 'fr'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width', 'initial-scale' => '1.0'}
    %title= content_for?(:title) ? yield(:title) : 'Simplonline'
    = stylesheet_link_tag 'application'
    %script{:src => 'https://login.persona.org/include.js', :type => 'text/javascript'}
    = csrf_meta_tags
  %body
    %header
      %h1= t('.title')

    %nav.columns.left
      - if current_user
        = link_to "#{current_user.nom.capitalize}", edit_user_path(current_user), title: t('.update_login')
        |
        = link_to t('.logout'), deconnexion_path
      - else
        %form{:id => 'browser_id_form', :action => '/auth/browser_id/callback'}
          %input{:type => 'hidden', :name => 'assertion'}/
          %button{:type => 'submit', :class => 'small radius secondary'}
            = t('.login')

    .notification
      - if flash[:alert]
        %p.label.flash-error= "» #{flash[:alert]}"
      - if flash[:notice]
        %p.label.flash-notice= "» #{flash[:notice]}"
    %main
      = yield

    = javascript_include_tag 'application'
    :javascript
      function loginViaEmail() {
        navigator.id.get(function(assertion) {
          if (assertion) {
            $('input[name=assertion]').val(assertion);
            $('#browser_id_form').submit();
          } else {
            console.log('Erreur on login persona')
          }
        });
      }
      $(function() {
        $('#browser_id_form button').click(function() {
          loginViaEmail();
          return false;
        });
      });


